<!-- About -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="name">O mnie</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <p>&nbsp; &nbsp; &nbsp; Nazywam się <strong>Patryk Szafirowicz</strong>.
                    Od kiedy pamiętam, zawsze interesowałem się elektroniką, nowymi technologiami i wszystkim, co
                    związane z komputerami. Ważnym momentem mojego życia było rozpoczęcie nauki w technikum o profilu
                    informatycznym ze specjalizacją aplikacje internetowe. Nauczyłem się wtedy programować i tworzyć
                    pierwsze strony. Dowiedziałem się wtedy, czym są CMSy oraz niektóre silniki sklepów i for
                    interentowych. Mimo wszystko największą wagę przywiązywałem do tworzenia własnego kodu. Tak zostało
                    do tej pory. W wolnych chwilach tworzę strony internetowe, wykorzystując nowoczesne technologie
                    internetowe. Bazuje głównie na <strong>PHP</strong>, <strong>CSS</strong>, <strong>HTML</strong>,
                    <strong>JS</strong> oraz <strong>SQL</strong>.
                </p>

                <p>&nbsp; &nbsp; &nbsp; Aktualnie kończę studia związane z informatyką, co miało być drugim krokiem w
                    przód do dalszej kariery webdevelopera. Swój rozwój zawdzięczam swojej upartości i dążenia do celu.
                    Rozwijam się głównie na własną rękę, aczkolwiek cenne są dla mnie wszelkie uwagi i rady ze strony
                    znajomych i osób obeznanych z tematem programowania.
                </p>

                <p>&nbsp; &nbsp; &nbsp; Jestem osobą, która konsekwentnie dąży do wyznaczonego celu. Staram się drążyć
                    temat, aż zadanie zostanie rozwiązane.
                </p>

                <p>&nbsp; &nbsp; &nbsp;Jednocześnie, uważam, że nasz czas jest ograniczony dlatego też powinniśmy go
                    dobrze spożytkować, na to, w czym się odnajdujemy, a kreowanie stron jest właśnie taką rzeczą dla
                    mnie!
                </p>


            </div>
            <div class="col-md-6">
                <p>
                    <img class="img-responsive" src="img/foto.jpg" alt="Fotografia">
                </p>

                <div class="wrap">
                    <a href="doc/cv.jpg" class="btn btn-info " role="button">Pobierz CV</a>
                </div>
            </div>


        </div>
    </div>
</section>