<!-- Contact -->
<section id="contact">
        <div class="container">


         <div class="col-lg-12 text-center">
			<h2 class="name">Skontaktuj się</h2>
			<hr class="primary">
        </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Gotowy do rozpoczęcia następnego projektu z nami? To wspaniale! Zadzwoń lub napisz do nas! Odezwiemy się najszybiej jak to możliwe!</p>
                </div>

				 <div class="col-lg-4 col-lg-offset-2 text-center">
                   <i class="mdi mdi-phone"></i>
                    <p><a href="tel:555-555-5555">555-434-435</a></p>
                </div>
                <div class="col-lg-4 text-center">
                   <i class="mdi mdi-email-outline"></i>
                    <p><a href="mailto:kowalski@wp.pl">kowalski@wp.pl</a></p>
                </div>
            </div>
        </div>
</section>