<!-- Experience -->
<section id="experience">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="name">Doświadczenie</h2>
                <hr class="primary">
            </div>
        </div>

        <div class="row">
            <ul class="list-unstyled">
                <li><img src="img/skills/html5.png" alt="HTML5."></li>
                <li><img src="img/skills/bootstrap.png" alt="Bootstrap"></li>
                <li><img src="img/skills/css3.png" alt="CSS3."></li>
                <li><img src="img/skills/jquery.png" alt="jQuery"></li>
                <li><img src="img/skills/mysql.png" alt="MYSQL."></li>
                <li><img src="img/skills/php.png" alt="PHP"></li>
                <li><img src="img/skills/rwd.png" alt="RWD"></li>
                <li><img src="img/skills/wordpress.png" alt="Wordpress"></li>
            </ul>
        </div>

    </div>
</section>