<!-- Footer -->
<footer>
       <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2017
                    </div>
                </div>
            </div>
        </div>
</footer>

<a id="back-to-top" href="#" class="btn btn-info btn-lg btn-circle back-to-top" role="button" title="Wróć na początek strony" data-toggle="tooltip" data-placement="left"><span class="mdi mdi-chevron-double-up mdi-24px"></span></a>
