<!-- Header -->
<header id="top" class="header">
    <div class="header-box">
		<h1 class="name">Test Test</h1>
		<span class="describe">Freelencer Web Developer</span>


		<div class="wrap page-scroll">
			<a href="#about" class="btn btn-danger" role="button">Poznaj mnie</a>
		</div>


    </div>
</header>