<!-- Nav -->
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="mdi mdi-menu mdi-36px"></i>
                </button>
                <a class="navbar-brand" href="index.html#page-top"><span class="logo">TEST</span></a>
            </div>

           <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
					<li class="hidden ">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a  href="#about">O mnie</a>
                    </li>
					<li class="page-scroll">
                        <a  href="#experience">Doświadczenie</a>
                    </li>
					<li class="page-scroll">
                        <a  href="#portfolio">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a  href="#contact">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>