





<!-- Separator -->









<!-- Contact -->
<section id="contact">
        <div class="container">


         <div class="col-lg-12 text-center">
			<h2 class="name">Skontaktuj się</h2>
			<hr class="primary">
        </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Gotowy do rozpoczęcia następnego projektu z nami? To wspaniale! Zadzwoń lub napisz do nas! Odezwiemy się najszybiej jak to możliwe!</p>
                </div>

				 <div class="col-lg-4 col-lg-offset-2 text-center">
                   <i class="mdi mdi-phone"></i>
                    <p><a href="tel:555-555-5555">555-434-435</a></p>
                </div>
                <div class="col-lg-4 text-center">
                   <i class="mdi mdi-email-outline"></i>
                    <p><a href="mailto:kowalski@wp.pl">kowalski@wp.pl</a></p>
                </div>
            </div>
        </div>
</section>

<!-- Footer -->
<footer>
       <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2017
                    </div>
                </div>
            </div>
        </div>
</footer>

<a id="back-to-top" href="#" class="btn btn-info btn-lg btn-circle back-to-top" role="button" title="Wróć na początek strony" data-toggle="tooltip" data-placement="left"><span class="mdi mdi-chevron-double-up mdi-24px"></span></a>

    <!-- Portfolio Modal1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>


                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">

                            <h2>iGENUS - projekt strony banku internetowego</h2>
							<hr>
                            <img src="portfolio/igenus/igenus.png" class="img-responsive img-centered" alt="">


							<p class="text-justify"> &nbsp; &nbsp; &nbsp;Projekt strony banku internetowego, tworzonego na zaliczenie przedmiotu "Bankość elektroniczna". Na m.in stronie możemy: stworzyć swój wirtualny rachunek, robić przelewy, dostępny system lokat z różnym oprocentowaniem, logowanie z blokada (max 3) oparte na cookies. W formularzach wykorzystana CAPTCHA. Witryna responsywna. Portal tworzony od zera.</p>
                            <ul class="list-inline item-details">
                                <li>Wykonane dla:
                                    <strong>UŁ</strong>
                                </li>
                                <li>Data wykonania:
                                    <strong> około 02.2017</strong>
                                </li>
								<li>
								Technologie:
                                    <strong>MYSQL</strong>,<strong>PHP</strong>,<strong>HTML</strong>,<strong>JS</strong>
                                </li>
                            </ul>




  <div class="row">

	<div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/igenus/main.png" data-lightbox="example-set" data-title="Strona główna"><img class="thumbnail img-responsive" src="portfolio/igenus/main.png" alt="image1"/></a>
	</div>
    <div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/igenus/1.png" data-lightbox="example-set" data-title="Szczegółowy dostęp do rachunku"><img class="thumbnail img-responsive" src="portfolio/igenus/1.png" alt="image2"/></a>
	</div>
	<div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/igenus/2.png" data-lightbox="example-set" data-title="Historia rachunku"><img class="thumbnail img-responsive" src="portfolio/igenus/2.png" alt="image3"/></a>
	</div>
	<div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/igenus/3.png" data-lightbox="example-set" data-title="Ssystem lokat"><img class="thumbnail img-responsive" src="portfolio/igenus/3.png" alt="image3"/></a>
	</div>

	  <div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/igenus/4.png" data-lightbox="example-set" data-title="Przelewy"><img class="thumbnail img-responsive" src="portfolio/igenus/4.png" alt="image3"/></a>
	</div>
	<div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/igenus/5.png" data-lightbox="example-set" data-title="Specjalistyczne wnioski"><img class="thumbnail img-responsive" src="portfolio/igenus/5.png" alt="image3"/></a>
	</div>
	<div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/igenus/6.png" data-lightbox="example-set" data-title="Bezpieczne logowanie"><img class="thumbnail img-responsive" src="portfolio/igenus/6.png" alt="image3"/></a>
	</div>
	<div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/igenus/7.png" data-lightbox="example-set" data-title="Tworzenie nowego rachunku"><img class="thumbnail img-responsive" src="portfolio/igenus/7.png" alt="image3"/></a>
	</div>

  </div>







						<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="mdi mdi-close"></i> Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

	 <!-- Portfolio Modal2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>


                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">

                            <h2>CWIS - Centrum wymiany informacji studenta</h2>
							<hr>
                            <img src="portfolio/cwis/cwis.png" class="img-responsive img-centered" alt="">


							<p class="text-justify"> &nbsp; &nbsp; &nbsp;Projekt strony banku internetowego, tworzonego w ramach zaliczenia przedmiotu "Aplikacje internetowe". Strona tworzona od zera. Część użytkownika + część administracyjna(administrator/moderator). Na m.in: logowanie za pośrednictwem Facebook, ogłoszenia dzielone na liczne kategorie system okien moodalnych, możliwość pobierania plików z repozytorium, profil konta wraz z mozliwościa edycji i logami i wiele innych. Witryna pisana ze wsparciem Bootstrap.</p>
                            <ul class="list-inline item-details">
                                <li>Wykonane dla:
                                    <strong>UŁ</strong>
                                </li>
                                <li>Data wykonania:
                                    <strong> około 11.2014</strong>
                                </li>
								<li>
								Technologie:
                                    <strong>MYSQL</strong>,<strong>PHP</strong>,<strong>HTML</strong>,<strong>JS</strong>
                                </li>
                            </ul>




  <div class="row">

	<div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/cwis/main.png" data-lightbox="example-set"><img class="thumbnail img-responsive" src="portfolio/cwis/main.png" alt="image1"/></a>
	</div>
    <div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/cwis/1.png" data-lightbox="example-set" ><img class="thumbnail img-responsive" src="portfolio/cwis/1.png" alt="image2"/></a>
	</div>
	<div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/cwis/2.png" data-lightbox="example-set" ><img class="thumbnail img-responsive" src="portfolio/cwis/2.png" alt="image3"/></a>
	</div>
	<div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/cwis/3.png" data-lightbox="example-set" ><img class="thumbnail img-responsive" src="portfolio/cwis/3.png" alt="image3"/></a>
	</div>

	  <div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/cwis/4.png" data-lightbox="example-set" ><img class="thumbnail img-responsive" src="portfolio/cwis/4.png" alt="image4"/></a>
	</div>
	<div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/cwis/5.png" data-lightbox="example-set" ><img class="thumbnail img-responsive" src="portfolio/cwis/5.png" alt="image5"/></a>
	</div>
	<div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/cwis/6.png" data-lightbox="example-set" ><img class="thumbnail img-responsive" src="portfolio/cwis/6.png" alt="image6"/></a>
	</div>
	<div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/cwis/7.png" data-lightbox="example-set" ><img class="thumbnail img-responsive" src="portfolio/cwis/7.png" alt="image7"/></a>
	</div>
	<div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/cwis/8.png" data-lightbox="example-set" ><img class="thumbnail img-responsive" src="portfolio/cwis/8.png" alt="image8"/></a>
	</div>
	 <div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/cwis/9.png" data-lightbox="example-set" ><img class="thumbnail img-responsive" src="portfolio/cwis/9.png" alt="image9"/></a>
	</div>
	<div class="col-lg-3 col-sm-4 col-xs-6">
		 <a class="example-image-link" href="portfolio/cwis/10.png" data-lightbox="example-set" ><img class="thumbnail img-responsive" src="portfolio/cwis/10.png" alt="image10"/></a>
	</div>


  </div>







						<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="mdi mdi-close"></i> Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>


