<!-- Projects -->
<section id="portfolio">


    <div class="col-lg-12 text-center">
        <h2 class="name">Portfolio</h2>
        <hr class="primary">
    </div>

    <div class="grid">

        <a href="#" data-title="SzafirowaKuchnia.pl" class="filter www">
            <img src="portfolio/szafirowakuchnia/main.png" alt="projekt"/>
        </a>
        <a href="#portfolioModal1" data-title="iGENUS" class="portfolio-link" data-toggle="modal">
            <img src="portfolio/igenus/main.png" alt="projekt1"/>
        </a>
        <a href="#portfolioModal2" data-title="CWIS" class="portfolio-link" data-toggle="modal">
            <img src="portfolio/cwis/main.png" alt="projekt2"/>
        </a>
        <a href="#" data-title="FundacjaEmir" class="filter www">
            <img src="portfolio/fundacjaemir/main.png" alt="projekt"/>
        </a>
        <a href="#" data-title="EMINEM LIFE" class="filter www">
            <img src="portfolio/eminem/main.png" alt="projekt"/>
        </a>
        <a href="#" data-title="AMERICAN STAFORDSHIRE TERRIER" class="filter www">
            <img src="portfolio/amstaff/main.png" alt="projekt"/>
        </a>
        <a href="#" data-title="SOMARA" class="filter www">
            <img src="portfolio/somara/main.png" alt="projekt"/>
        </a>
        <a href="#" data-title="MOODLE" class="filter www">
            <img src="portfolio/moodle1/main.png" alt="projekt"/>
        </a>
        <a href="#" data-title="MYGRID" class="filter www">
            <img src="portfolio/mygrid/main.png" alt="projekt"/>
        </a>

    </div>


</section>