<!-- Separator -->
<section id="separator">
    <div class="container">
        <div class="row scrollpoint sp-effect3">
            <div class="col-sm-3">
                <i class="mdi mdi-account"></i>
                <h4>~<span class="count">53</span></h4>
                <p> zadowolonych klientów</p>
            </div>
            <div class="col-sm-3">
                <i class="mdi mdi-email-open"></i>
                <h4>~<span class="count">435345</span></h4>
                <p> wierszy kodu</p>
            </div>
            <div class="col-sm-3">
                <i class="mdi mdi-av-timer"></i>
                <h4>~<span class="count">24342</span></h4>
                <p> godzin nauki</p>
            </div>
            <div class="col-sm-3">
                <i class="mdi mdi-rocket"></i>
                <h4>~<span class="count">20</span></h4>
                <p> projektów</p>
            </div>
        </div>
    </div>
</section>