<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <!-- CSS -->
        <link href="{{ site_url('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ base_url('assets/css/login.css') }}" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% endblock %}


    {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>#}
</head>
<body>

{% block body %}
{% endblock %}

{% block javascripts %}
{% endblock %}

</body>
</html>



