{% extends 'base_admin.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'admin/header.twig' %}
        {% include 'admin/nav.twig' %}
        {% include 'admin/content-header.twig' %}
        {% include 'admin/content.twig' %}
        {% include 'admin/footer.twig' %}
    </div>
{% endblock %}
