<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">NAWIGACJA 1</li>
            <li><a href="<?php echo base_url('admin/settings'); ?>"><i class="fa fa-circle-o"></i>
                    <span>Ustawienia</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> <span>Ogłoszenia</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> <span>Projekty</span></a></li>
            <li><a href="{{ base_url('admin/user') }}"><i class="fa fa-circle-o"></i> <span>Użytkownicy</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> <span>Klienci</span></a></li>
            <li class="header">NAWIGACJA 2</li>
            <li><a href="#"><i class="fa fa-circle-o"></i> <span>Galerie</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> <span>Kategorie</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> <span>Osiągnięcia</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> <span>Logi</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>